### Mapping and Reducing

#### Accumulate

In [18]:
from itertools import accumulate
from functools import reduce

In [19]:
help(accumulate)

Help on class accumulate in module itertools:

class accumulate(builtins.object)
 |  accumulate(iterable, func=None, *, initial=None)
 |
 |  Return series of accumulated sums (or other binary function results).
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [20]:
reduce(lambda a, b: a**b, reversed([1, 2, 3, 4]))

4096

In [21]:
def sum_(iterable):
    it = iter(iterable)
    
    # get the first value of the iterable
    acc = next(it)
    
    yield acc
    
    for item in it:
        acc += item
        yield acc

In [22]:
x = set([90, 60, 43])
for item in sum_(x):
    print(item)

90
133
193

In [23]:
def running_reduce(fn, iterable, start=None):
    it = iter(iterable)
    if start is None:
        acc = next(it)
    else:
        acc = start
    yield acc
    
    for item in it:
        acc = fn(acc, item)
        yield acc

In [24]:
import operator

In [25]:
list(running_reduce(operator.mul, [10, 20, 30]))

[10, 200, 6000]

In [26]:
list(running_reduce(operator.mul, [5, 6, 7, 8], 10))

[10, 50, 300, 2100, 16800]

In [27]:
from itertools import accumulate

#### Returns the running product

In [28]:
list(accumulate([n*10 for n in range(1, 6)]))

[10, 30, 60, 100, 150]

In [29]:
list(accumulate(range(100, 500)))

[100,
 201,
 303,
 406,
 510,
 615,
 721,
 828,
 936,
 1045,
 1155,
 1266,
 1378,
 1491,
 1605,
 1720,
 1836,
 1953,
 2071,
 2190,
 2310,
 2431,
 2553,
 2676,
 2800,
 2925,
 3051,
 3178,
 3306,
 3435,
 3565,
 3696,
 3828,
 3961,
 4095,
 4230,
 4366,
 4503,
 4641,
 4780,
 4920,
 5061,
 5203,
 5346,
 5490,
 5635,
 5781,
 5928,
 6076,
 6225,
 6375,
 6526,
 6678,
 6831,
 6985,
 7140,
 7296,
 7453,
 7611,
 7770,
 7930,
 8091,
 8253,
 8416,
 8580,
 8745,
 8911,
 9078,
 9246,
 9415,
 9585,
 9756,
 9928,
 10101,
 10275,
 10450,
 10626,
 10803,
 10981,
 11160,
 11340,
 11521,
 11703,
 11886,
 12070,
 12255,
 12441,
 12628,
 12816,
 13005,
 13195,
 13386,
 13578,
 13771,
 13965,
 14160,
 14356,
 14553,
 14751,
 14950,
 15150,
 15351,
 15553,
 15756,
 15960,
 16165,
 16371,
 16578,
 16786,
 16995,
 17205,
 17416,
 17628,
 17841,
 18055,
 18270,
 18486,
 18703,
 18921,
 19140,
 19360,
 19581,
 19803,
 20026,
 20250,
 20475,
 20701,
 20928,
 21156,
 21385,
 21615,
 21846,
 22078,
 22311,
 22545,
 22780,
 23016,
 23253,
 23491,
 23730,
 23970,
 24211,
 24453,
 24696,
 24940,
 25185,
 25431,
 25678,
 25926,
 26175,
 26425,
 26676,
 26928,
 27181,
 27435,
 27690,
 27946,
 28203,
 28461,
 28720,
 28980,
 29241,
 29503,
 29766,
 30030,
 30295,
 30561,
 30828,
 31096,
 31365,
 31635,
 31906,
 32178,
 32451,
 32725,
 33000,
 33276,
 33553,
 33831,
 34110,
 34390,
 34671,
 34953,
 35236,
 35520,
 35805,
 36091,
 36378,
 36666,
 36955,
 37245,
 37536,
 37828,
 38121,
 38415,
 38710,
 39006,
 39303,
 39601,
 39900,
 40200,
 40501,
 40803,
 41106,
 41410,
 41715,
 42021,
 42328,
 42636,
 42945,
 43255,
 43566,
 43878,
 44191,
 44505,
 44820,
 45136,
 45453,
 45771,
 46090,
 46410,
 46731,
 47053,
 47376,
 47700,
 48025,
 48351,
 48678,
 49006,
 49335,
 49665,
 49996,
 50328,
 50661,
 50995,
 51330,
 51666,
 52003,
 52341,
 52680,
 53020,
 53361,
 53703,
 54046,
 54390,
 54735,
 55081,
 55428,
 55776,
 56125,
 56475,
 56826,
 57178,
 57531,
 57885,
 58240,
 58596,
 58953,
 59311,
 59670,
 60030,
 60391,
 60753,
 61116,
 61480,
 61845,
 62211,
 62578,
 62946,
 63315,
 63685,
 64056,
 64428,
 64801,
 65175,
 65550,
 65926,
 66303,
 66681,
 67060,
 67440,
 67821,
 68203,
 68586,
 68970,
 69355,
 69741,
 70128,
 70516,
 70905,
 71295,
 71686,
 72078,
 72471,
 72865,
 73260,
 73656,
 74053,
 74451,
 74850,
 75250,
 75651,
 76053,
 76456,
 76860,
 77265,
 77671,
 78078,
 78486,
 78895,
 79305,
 79716,
 80128,
 80541,
 80955,
 81370,
 81786,
 82203,
 82621,
 83040,
 83460,
 83881,
 84303,
 84726,
 85150,
 85575,
 86001,
 86428,
 86856,
 87285,
 87715,
 88146,
 88578,
 89011,
 89445,
 89880,
 90316,
 90753,
 91191,
 91630,
 92070,
 92511,
 92953,
 93396,
 93840,
 94285,
 94731,
 95178,
 95626,
 96075,
 96525,
 96976,
 97428,
 97881,
 98335,
 98790,
 99246,
 99703,
 100161,
 100620,
 101080,
 101541,
 102003,
 102466,
 102930,
 103395,
 103861,
 104328,
 104796,
 105265,
 105735,
 106206,
 106678,
 107151,
 107625,
 108100,
 108576,
 109053,
 109531,
 110010,
 110490,
 110971,
 111453,
 111936,
 112420,
 112905,
 113391,
 113878,
 114366,
 114855,
 115345,
 115836,
 116328,
 116821,
 117315,
 117810,
 118306,
 118803,
 119301,
 119800]

In [30]:
from itertools import chain

In [31]:
list(chain([10], (1, 2, 3, 4)))

[10, 1, 2, 3, 4]

In [32]:
x = (n ** 2 for n in range(1, 10))
y = (n ** 3 for n in range(1, 10))
z = (n ** 4 for n in range(1, 10))

list(accumulate(chain(x, y, z), operator.add))

[1,
 5,
 14,
 30,
 55,
 91,
 140,
 204,
 285,
 286,
 294,
 321,
 385,
 510,
 726,
 1069,
 1581,
 2310,
 2311,
 2327,
 2408,
 2664,
 3289,
 4585,
 6986,
 11082,
 17643]