### Teeing

```
iters = []
for _ in range(10):
    iters.append(create_iterator())
```

```
tee(iterable, 10)

-> (iter1, iter2, ..., iter10)
```

In [ ]:
from itertools import tee

In [53]:
help(tee)

Help on built-in function tee in module itertools:

tee(iterable, n=2, /)
    Returns a tuple of n independent iterators.

In [2]:
# Nested generator expression
mult_table = ((x * y
               for x in range(1, 11))
              for y in range(1, 11))

from itertools import tee

my_iters = tee(mult_table, 10)

In [3]:
for iter in my_iters[0]:
    print(list(iter))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
def squares(n):
    for i in range(n):
        yield i ** 2

In [5]:
gen = squares(10)

In [6]:
gen

In [7]:
iters = tee(squares(20), 3)

In [8]:
iters

(<itertools._tee at 0x1b391f7ee00>,
 <itertools._tee at 0x1b391f85540>,
 <itertools._tee at 0x1b391f856c0>)

In [9]:
type(iters)

tuple

In [10]:
iter1, iter2, iter3 = iters

In [11]:
iter1 is iter2

False

In [12]:
iter2 is iter3

False

In [13]:
gen is iter1

False

In [14]:
next(iter1), next(iter1), next(iter1)

(0, 1, 4)

In [15]:
next(iter2), next(iter2), next(iter1)

(0, 1, 9)

In [16]:
next(iter3), next(iter3), next(iter3)

(0, 1, 4)

#### teeing list and other sequence types

In [25]:
import math

# list and list comprehension
l1 = [1, 2, 3, 4]
l2 = [n**3 for n in range(1, 11)]

# tuple with comprehension
t1 = tuple(n*n for n in range(1, 11))

# generator expression
g1 = (math.sqrt(n**2) for n in range(1, 11))

list_iters = tee(l1, 2)
list_iters_x = tee(l2, 2)

In [26]:
list_iters[0]

In [27]:
list_iters_x[1]

In [28]:
list(list_iters[0])

[1, 2, 3, 4]

In [29]:
list(list_iters[0])

[]

In [30]:
list(list_iters[1])

[1, 2, 3, 4]

In [36]:
tuple_iters = tee(t1, 3)

In [37]:
type(tuple_iters)

tuple

In [38]:
print(*[type(t) for t in tuple_iters], sep='\n')

<class 'itertools._tee'>
<class 'itertools._tee'>
<class 'itertools._tee'>

In [39]:
# Unpack the iterators created by tee function
x, y, z = tuple_iters

list(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
tuple(y)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [41]:
set(z)

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [42]:
gen_iters = tee(g1, 4)

In [45]:
gen_iters

(<itertools._tee at 0x1b391f675c0>,
 <itertools._tee at 0x1b39244e3c0>,
 <itertools._tee at 0x1b3909b59c0>,
 <itertools._tee at 0x1b39245ac40>)

In [46]:
v, x, y, z = gen_iters

list(v)

[]

In [47]:
tuple(x)

(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0)

In [48]:
set(y)

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0}

In [49]:
from itertools import islice

dict(zip(islice(z, 0, 5), islice(z, 5, 11)))

{1.0: 7.0, 8.0: 9.0}

In [50]:
g1 = (math.sqrt(n**2) for n in range(1, 11))

gen_iters = tee(g1, 4)

# Unpack the iterators contained in the tuple
v, x, y, z = gen_iters

from itertools import islice

dict(zip(islice(z, 0, 5), islice(z, 5, 11)))

{1.0: 7.0, 8.0: 9.0}

In [51]:
list(islice(v, 0, 5))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [52]:
list(islice(v, 5, 11))

[]