### List Comprehensions

In [1]:
squares = []

for i in range(1, 101):
    squares.append(i**2)

In [2]:
squares[:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Comprehension syntax
squares = [n ** 2
           for n in range(1, 101)]

In [8]:
squares[:10]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [13]:
for i in range(1, 101):
    if i % 2 == 0:
        squares.append(i**2)

In [14]:
squares[:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [15]:
squares = [n**2 
           for n in range(1, 101) 
           if n % 2 == 0]

In [16]:
squares[:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Behind the scenes

In [29]:
compiled_code = compile('[i**2 for i in (1, 2, 3)]', 
                        filename='string',
                        mode='eval')

In [30]:
compiled_code

In [31]:
import dis

dis.dis(compiled_code)

  0           0 RESUME                   0

  1           2 LOAD_CONST               0 (<code object <listcomp> at 0x000001B123A9C370, file "string", line 1>)
              4 MAKE_FUNCTION            0
              6 LOAD_CONST               1 ((1, 2, 3))
              8 GET_ITER
             10 PRECALL                  0
             14 CALL                     0
             24 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x000001B123A9C370, file "string", line 1>:
  1           0 RESUME                   0
              2 BUILD_LIST               0
              4 LOAD_FAST                0 (.0)
        >>    6 FOR_ITER                 7 (to 22)
              8 STORE_FAST               1 (i)
             10 LOAD_FAST                1 (i)
             12 LOAD_CONST               0 (2)
             14 BINARY_OP                8 (**)
             18 LIST_APPEND              2
             20 JUMP_BACKWARD            8 (to 6)
        >>   22 RETURN_VALUE

### Multiplication Table

In [36]:
# Traditional way
table = []
for x in range(1, 11):
    for y in range(1, 11):
        table.append(x*y)
table

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [52]:
# Steps of 10
i = 0
j = 10
while i < 100:
    print(table[i:j])
    i += 10
    j += 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [55]:
# Using list comprehension
mult_table = [x * y
              for x in range(1, 11)
              for y in range(1, 11)]

In [56]:
mult_table

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

### Optimal Multiplication Table Implementation

In [177]:
numbers = [n for n in range(1, 11)]  # Numbers from 1 to 10

multi = [[x * y 
          for x in numbers]
         for y in numbers]

In [178]:
print(*multi, sep='\n')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Combinations

Pascal's Triangle

Triangle of binomial coefficients

```
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
```

Formula:
``` 
C(n, k) = n! / (k! (n-k)!) 
```

Combination Hint:

```
C(0, 0)
C(1, 0) C(1, 1)
C(2, 0) C(2, 1) C(2, 2)
C(3, 0) C(3, 1) C(3, 2), C(3, 3)
```

In [179]:
from math import factorial

In [180]:
def combo(n, k):
    return factorial(n) // (factorial(k) * factorial(n-k))

In [181]:
size = 10

pascal = [[combo(n, k) 
           for k in range(n+1)] 
          for n in range(size+1)]

In [182]:
pascal

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1],
 [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]]

### Nested Loops and Nested Comprehensions

In [183]:
l1 = ['a', 'b', 'c']
l2 = ['x', 'y', 'z']

In [184]:
result = [x + y
         for x in l1
         for y in l2]
result

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

Inverse

In [185]:
result = [x + y
          for y in l2
          for x in l1]
result

['ax', 'bx', 'cx', 'ay', 'by', 'cy', 'az', 'bz', 'cz']

In [186]:
l1 = [n for n in range(1, 10)]  # numbers from 1 to 9
l2 = ['a', 'b', 'c', 'd', 'e']

In [187]:
list(zip(l1, l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [188]:
list(enumerate(l2, start=1))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### Index Matching

```
[1, 2, 3, 4, 5, 6, 7, 8, 9]

['a', 'b', 'c', 'd', 'e']

match 1 with a
match 2 with b
match 3 with c
and so on...
```

In [189]:
list_1 = [n for n in range(1, 10)]  # numbers from 1 to 9
list_2 = ['a', 'b', 'c', 'd', 'e']

In [190]:
matches = [(x, y)
           for index_1, x in enumerate(list_1)
           for index_2, y in enumerate(list_2)
           if index_1 == index_2]

In [191]:
matches

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

### Dot Product

```
v1 = (c1, c2, c3, ..., cn)
v2 = (d1, d2, d3, ..., dn)
```

```
v1 . v2 = (c1 * d1) + (c2 * d2) + (c3 * d3) + ... + (cn * dn)
```

In [192]:
# List of numbers

v1 = [n for n in range(1, 11)]  # Numbers from 1 to 10
v2 = [n for n in range(1, 11)]  # Numbers from 10 to 100

In [193]:
dot_prod = [dot_1 * dot_2
            for x, dot_1 in enumerate(v1)
            for y, dot_2 in enumerate(v2)
            if x == y]

In [194]:
# convert each element in the list to a string type
dot_prod_str = list(map(str, dot_prod))


print(f"{' + '.join(dot_prod_str)} = {sum(dot_prod)}")

1 + 4 + 9 + 16 + 25 + 36 + 49 + 64 + 81 + 100 = 385

Another Implementation

In [195]:
list(zip(v1, v2))

[(1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10)]

In [196]:
result = [i * j
          for i, j in zip(v1, v2)]
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [197]:
sum(result)

385

### Behavior of closures and non local variables in for loops

In [198]:
l = []
for number in range(5):
    l.append(number**2)

In [199]:
number  # The number variable becomes the 
        # last iterated item in the for loop

4

### Power Increase

```

1 ^ 1, 2 ^ 2, 3 ^ 3, 4 ^ 4, 5 ^ 5, ..., x ^ n 

```

In [208]:
increase = [(lambda x: x**n)(n)
            for n in range(1, 11)]

print(*increase, sep='\n')

1
4
27
256
3125
46656
823543
16777216
387420489
10000000000

### Using Dates

In [210]:
from datetime import datetime

In [212]:
datetime.now()

datetime.datetime(2023, 3, 16, 23, 44, 58, 220673)

Log function

In [215]:
def log(msg, current_dt=datetime.now()):
    print(msg, current_dt)

In [216]:
log('abc')

abc 2023-03-16 23:47:11.493029

In [217]:
log('xyz')

xyz 2023-03-16 23:47:11.493029

In [218]:
log('def')

def 2023-03-16 23:47:11.493029

In [233]:
pow_calls = [lambda x, p=i: x**p 
             for i in range(11)]

In [234]:
pow_calls[10](5)

9765625